img{
    border-radius: 5px;
    border: 2px solid wheat;
}
button{
    height: 40px;
    width: 10vw;
    border-radius: 5px;
}


input{
    height: 5vh;
    width: 15vw;
    border-radius: 5px;
}

td{
    font-size: 20px;
}

#text{
    height: 5vh;
    width: 15vw;
    border-radius: 5px;
}

a{
    font-size: 20px;
}

p{
    font-size: 20px;
}

footer{
    font-size: 20px;
}